<section id="home">
	<div class="container">
		<section id="pitch">
			<img id="slayer" src="/assets/dragonSlayer.png">
			<h1 >HACK<span id="redR">R</span>U</h1>
			<h3 >Twenty Four Hours of Non-Stop Hacking! </br> 
				April 18 & 19 || Rutgers Athletic Center</br>
				<br>
				Hackers Welcome<br>
				Can you conquer it?</br>
			</h3>


			<div id="logger">
				<% if user_signed_in? %>
				<% else %>
				<%= link_to "SIGN UP", register_path, class: 'btn btn-success' %>

				<% end %>
			</div>
			<h4>
				Interested in sponsoring? email us at team@hackru.org
			</h4>
		</section>
	</div>
	<div id = "faqHead">
		<div class="container">
			<h3>What is HackRU?</h3>
			<p>HackRU is a non-stop rush. Over a thousand hackers will come together to envision, create, and demo their own unique application. At the start of the hackathon, our sponsoring companies will <a href="http://en.wikipedia.org/wiki/API" target="_blank">present their technologies</a>. Use these technologies in your applications to accelerate your hacking to the cutting edge. Throughout the day, you will be surrounded by mentors from our sponsors and fellow hackers who will help you hack like a rock star. At the end of 24 hours, we will all assemble with a panel of judges and award awesome prizes.  Everyone will get fed, receive sweet swag, and meet amazing people.  HackRU will be an <br><em>incredible experience.</p>
		</div>
	</div>

	<div id = "faq">

		<div class="container">
			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2>Who can attend?</h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
					</div>
				</article>
				<div id="mainArticleSection">
					<article class= "mainArticle">
						<h2> How can I register? </h2>
						<div class="boxItems">
							<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</article>
				</div>

				<div id="mainArticleSection">
					<article class= "mainArticle">
						<h2> How much does it cost? </h2>
						<div class="boxItems">
							<p class="mainArticleSummary">The best things in life are free, therefore HackRU is free.</p>
						</div>
					</article>
				</div>

				<article class= "mainArticle">
					<h2>What food will you provide?</h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>
			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> Can I get reimbursed for travel? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>

			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> How big should teams be? Can I do it alone? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>
			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> What should I bring? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>
			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> What should I not bring? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>

			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> What are the prizes? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>
			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> Will you have hardware prototyping equipment? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>
			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> Where’s the schedule? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>

			<div id="mainArticleSection">
				<article class= "mainArticle">
					<h2> Do you have another question? </h2>
					<div class="boxItems">
						<p class="mainArticleSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</article>
			</div>
		</div>

		<div id = "faqHead">
			<div class="container">

			</div>
		</div>

		<div class="container">
			<section id="pitch">
				<img id="slayer" src="/assets/dragonSlayer.png">
				<h1 >HACK<a id="redR">R</a>U</h1><br><br><br>

				<div id="logger">
					<% if user_signed_in? %>
					<% else %>
					<%= link_to "SIGN UP", register_path, class: 'btn btn-success' %>

					<% end %>
				</div>
			</section>
		</div>


		<div id = "faqHead">
			<div class="container">

			</div>
		</div>